@import "~react-toolbox/lib/colors";

$color-primary-dark:   #5D4037;
$color-primary:        #795548;
$color-primary-light:  #D7CCC8;
$color-accent:         #FFC107;
$color-accent-dark: $palette-amber-800;
